<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2>회원 수정입니다.</h2>
    <div class="panel panel-default">
        <div class="panel-heading">회원수정</div>
        <div class="panel-body">
            <form action="update" method="post">

                <input type="hidden" name="id" th:value="${dto.id}">

                <table class="table table-bordered table-hover">
                    <tr>
                        <td>이름</td>
                        <td><input th:value="${dto.name}" name="name" type="text" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td>나이</td>
                        <td><input th:value="${dto.age}" name="age" type="text" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td>성별</td>
                        <td><input th:value="${dto.gender}" name="gender" type="text" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <a href="/"><button type="button" class="btn btn-info">돌아가기</button></a>
                            <button type="reset" class="btn btn-danger">취소</button>
                            <button type="submit" class="btn btn-warning">수정</button>
                        </td>
                    </tr>

                </table>
            </form>
        </div>
        <div class="panel-footer">언어지능-박병관</div>
    </div>
</div>
</body>
</html>